html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

main {
  padding: 16px;
}

#thumbnailDiv img {
  height: 180px;
  width: 320px;
}

#templateArea {
  border: none;
  background-color: inherit;
  tab-size: 4;
}
